// Ionicons Icons
// --------------------------

.ionicons,
.#{$ionicons-prefix}card:before,
.#{$ionicons-prefix}ios-arrow-left:before,
.#{$ionicons-prefix}ios-arrow-right:before,
.#{$ionicons-prefix}ios-box:before,
.#{$ionicons-prefix}ios-box-outline:before,
.#{$ionicons-prefix}ios-calendar-outline:before,
.#{$ionicons-prefix}ios-clock-outline:before,
.#{$ionicons-prefix}ios-close-empty:before,
.#{$ionicons-prefix}ios-list-outline:before,
.#{$ionicons-prefix}ios-location-outline:before,
.#{$ionicons-prefix}ios-navigate-outline:before,
.#{$ionicons-prefix}ios-person-outline:before,
.#{$ionicons-prefix}ios-shuffle:before,
.#{$ionicons-prefix}share:before,
.#{$ionicons-prefix}social-buffer:before,
.#{$ionicons-prefix}social-buffer-outline:before
{
  @extend .ion;
}
.#{$ionicons-prefix}card:before { content: $ionicon-var-card; }
.#{$ionicons-prefix}ios-arrow-left:before { content: $ionicon-var-ios-arrow-left; }
.#{$ionicons-prefix}ios-arrow-right:before { content: $ionicon-var-ios-arrow-right; }
.#{$ionicons-prefix}ios-box:before { content: $ionicon-var-ios-box; }
.#{$ionicons-prefix}ios-box-outline:before { content: $ionicon-var-ios-box-outline; }
.#{$ionicons-prefix}ios-calendar-outline:before { content: $ionicon-var-ios-calendar-outline; }
.#{$ionicons-prefix}ios-clock-outline:before { content: $ionicon-var-ios-clock-outline; }
.#{$ionicons-prefix}ios-close-empty:before { content: $ionicon-var-ios-close-empty; }
.#{$ionicons-prefix}ios-list-outline:before { content: $ionicon-var-ios-list-outline; }
.#{$ionicons-prefix}ios-location-outline:before { content: $ionicon-var-ios-location-outline; }
.#{$ionicons-prefix}ios-navigate-outline:before { content: $ionicon-var-ios-navigate-outline; }
.#{$ionicons-prefix}ios-person-outline:before { content: $ionicon-var-ios-person-outline; }
.#{$ionicons-prefix}ios-shuffle:before { content: $ionicon-var-ios-shuffle; }
.#{$ionicons-prefix}share:before { content: $ionicon-var-share; }
.#{$ionicons-prefix}social-buffer:before { content: $ionicon-var-social-buffer; }
.#{$ionicons-prefix}social-buffer-outline:before { content: $ionicon-var-social-buffer-outline; }