// Ionicons Variables
// --------------------------

$ionicons-font-path: "../fonts" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "2.0.1" !default;
$ionicons-prefix: ion- !default;

$ionicon-var-card: "\f119";
$ionicon-var-ios-arrow-left: "\f3d2";
$ionicon-var-ios-arrow-right: "\f3d3";
$ionicon-var-ios-box: "\f3ec";
$ionicon-var-ios-box-outline: "\f3eb";
$ionicon-var-ios-calendar-outline: "\f3f3";
$ionicon-var-ios-clock-outline: "\f402";
$ionicon-var-ios-close-empty: "\f404";
$ionicon-var-ios-list-outline: "\f453";
$ionicon-var-ios-location-outline: "\f455";
$ionicon-var-ios-navigate-outline: "\f46d";
$ionicon-var-ios-person-outline: "\f47d";
$ionicon-var-ios-shuffle: "\f4a9";
$ionicon-var-share: "\f220";
$ionicon-var-social-buffer: "\f229";
$ionicon-var-social-buffer-outline: "\f228";